body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* Permet d'empiler le menu et la carte */
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    font-family: sans-serif;
}

#ui-panel {
    background-color: #ecf0f1;
    padding: 15px 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.3);
    text-align: center;
}

#ui-panel h1 {
    margin: 0 0 10px 0;
    font-size: 1.2rem;
    color: #34495e;
}

button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #2ecc71;
}

canvas {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#stats-panel {
    background-color: #ecf0f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 0.95rem;
    color: #2c3e50;
    text-align: left;
    border: 1px solid #bdc3c7;
}

#stats-panel p {
    margin: 5px 0;
    font-weight: bold;
}

#stat-fusions {
    color: #d35400; /* Orange pour rappeler la fusion */
}